<div class="plots-grid">
    <div class="plot-container">
        <h3>Exercise 3: 3D Clusters Visualization</h3>
        <div class="plot-description">
            <p>An interactive plotly visualization that allows exploring the welding sample data in detail.</p>
        </div>
        <iframe src="plots/ex_03_plots/clusters_3d_3_clusters.html"></iframe>
    </div>
    <div class="plot-container">
        <h3>Exercise 3: 3D Quality Visualization</h3>
        <div class="plot-description">
            <p>An interactive plotly visualization that allows exploring the welding sample data in detail.</p>
        </div>
        <iframe src="plots/ex_03_plots/quality_3d_3_clusters.html"></iframe>
    </div>
</div> 