<div class="plot-container">
    <h3>Exercise 2: Interactive Welding Sample Visualization</h3>
    <div class="plot-description">
        <p>An interactive plotly visualization that allows exploring the welding sample data in detail.</p>
    </div>
    <iframe src="plots/ex_02_plots/welding_samples.html"></iframe>

    <h4>Voltage and Current Distribution</h4>
    <div class="plot-description">
        <p>This plot shows the distribution of voltage and current measurements across all welding samples.</p>
    </div>
    <iframe src="plots/ex_02_plots/voltage_current_distribution.html"></iframe>
    
</div> 